/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

/*mobil*/
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.doporucujeme {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.recept-nazev {
    position: absolute;
    bottom: -5px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.hlavni-recept .recept-nazev {
    font-size: 28px;
}

.hlavni-recept {
    background-image: url(images/burger.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    min-height: 200px;
    padding: 10px 10px 0px 10px;
    position: relative;
}

.recepty {
    display: flex;
    flex-direction: column;
}

.recept {
    width: 100%;
    min-height: 90px;
    border-top: solid 1px white;
    padding: 10px 10px 0px 10px;
    position: relative;
    background-position: center center;
    background-size: 100%;
}

.recept2 {
    background-image: url(images/sushi.jpg);
}

.recept3 {
    background-image: url(images/kure.jpg);
}

.recept4 {
    background-image: url(images/rajcata.jpg);
}

.recept5 {
    background-image: url(images/grilovani.jpg);
}

.recept-meta {
    display: flex;
    justify-content: space-between;
}

/*přídáno podle Kláry - hover: zoom pozadí a zpomalení změny*/
.recept,
.hlavni-recept {
    background-size: 100%;
    transition: background-size 0.3s;
}
/* Hover efekt - zoom pozadí */
.recept:hover,
.hlavni-recept:hover {
    background-size: 120%;
    transition: background-size 0.3s;
    cursor: pointer;
}

/*tablet*/
@media (min-width: 540px) {
    
    .hlavni-recept .recept-nazev {
        font-size: 36px;
    }

    .recept-nazev {
        font-size: 22px;
    }
    
    .hlavni-recept {
        min-height: 250px;
        padding: 20px 20px 0px 20px;
        position: relative;
    }

    .recepty {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recept {
    width: 50%;
    min-height: 150px;
    border-top: solid 1px white;
    padding: 20px 20px 0px 20px;;
    position: relative;
    }

    .recept2,
    .recept4 {
        border-right: solid 1px white;
    }


/*PC*/
@media (min-width: 960px) {
    
    .doporucujeme {
        display: flex;
    }
    
    .hlavni-recept .recept-nazev {
        font-size: 48px;
    }
    
    .recept-nazev {
        font-size: 28px;
    }

    .hlavni-recept {
        min-height: 400px;
        padding: 20px 20px 0px 20px;
        position: relative;
        flex-basis: 33.33%;
        border-right: solid 1px white;
    }

    .recepty {
        display: flex;
        flex-basis: 66.66%;
        flex-direction: row;
    }
}

/* cursor: pointer > upozorňuje, že daný prvek je interaktivní a může se na něj kliknout (ručička) > přidávat k hoveru*/}